* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: paleturquoise;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
}

button {
    margin-top: 20px;
    color: palevioletred
}

label {
    color: palevioletred;
}
input {
    border: 1px solid palevioletred;
    border-radius: 5px;
}
.data {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 60%;
    border-radius: 10px;
    background-color: white;
}

.input {
    display: flex;
    justify-content: center;
}

#result {
    display: flex;
    justify-content: center;
}